.container {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100%;
    background-color:burlywood;
    text-decoration: none;
    font-size: large;
  }
  body {
    background-image: url ("");
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    position: relative;
    width: 100%;
    height: 100%;
    color:white;
    text-decoration: none;
    font-size: large;
  }
  h1{
    font-size: 300%;
    font-family: sans-serif;
    color: chocolate;
  }
  h3{
    font-size: 150%;
    font-family: monospace;
    color:black;
  }
  #number{
    font-family: monospace;
    font-size: 100%;
    color:black;
  }
 